<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<% include head %>
<div class="content">
	<h1><%= author.name %></h1>
	<a href="/author/<%= author.a_id %>/edit">edit</a><br>
	<%- bio %>
	<h3>Authored/Contributed To:</h3>
	<ul>
	<% if (pages != undefined) { for(var i = 0; i < pages.length; i++) { %> 
		<li><a href="/page/<%= pages[i].p_id %>"><%= pages[i].title %></a></li>
	<% }} %>
	</ul>
	<br>
	
</div>
</body>
</html>