<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Content</title>
</head>
<% include head %>
<div class="content">
	<div id="links" style="display: inline-block">
	<a href="/page/<%= page.id %>/discussions">Discussions </a>
	<a href="/page/<%= page.id %>/history"> History</a>
	</div>
	<h1><%= page.title %></h1>
	<a href="/page/<%= page.id %>/edit">edit</a>
	<%- p_body %>
	<form action="/page/<%= page.id %>?_method=DELETE" method="POST">
      	<input type="checkbox" name="delete" value="delete" required>
      	<button>Delete</button>
    </form>
	<% if (sections != undefined) { for(var i = 0; i < sections.length; i++) { %>
		<h3><%= sections[i].subtitle %></h3>
		<a href="/page/<%= page.id %>/section/<%= sections[i].id %>/edit">edit</a><br><br>
      		<%- sections[i].sub_body %>
      	<form action="/page/<%= page.id %>/section/<%= sections[i].id %>?_method=DELETE" method="POST">
	      	<input type="checkbox" name="delete" value="delete" required>
	      	<button>Delete</button>
      	</form>
	<% }} %>
	<br><br><br>
	<a href="/page/<%= page.id %>/sections/new">Add Another Section</a>
	<br><br><br>
	Want to stay posted about changes to this page?<br>
	<form action="/page/<%= page.id %>/subscribe/add" method="POST">
	<input type="text" name="subscribe" placeholder="your email" required>
	<button>Subscribe</button>
	</form>
	<br><br><br>
</div>
</body>
</html>