<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>Edit Page</title>
</head>

<% include head %>

<div class="content">
	<h1>Editing <%= page.title %></h1>
	<p>
	<form action="/page/<%= page.id %>?_method=PUT" method="POST">
		<label>Who are you?</label>
		<select name="a_id">
		<% for (var i =0; i < authors.length; i++) { %>
			<option value="<%= authors[i].id %>"><%= authors[i].name %></option>
			<% } %>
		</select><br><br>
		<label>Name of Park</label><br>
		<input type="text" name="title" value="<%= page.title %>" required><br>
		<br>
		General information about the park:<br>-Fill this out in markdown format-<br>
		<textarea name="p_body" rows=20 cols=60 required><%= page.body %></textarea>
		<button>Submit</button>
	</form>
	<br>
	*If you are not sure what markdown format is, check out the 'How To Edit' page listed on the left. 
	</p>
</div>

</body>
</html>


